<a href="https://colab.research.google.com/github/agarciaschanz/FINTECH-/blob/main/Copy_of_FinTech_Python_Review_April_18_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Review - FinTech Class 
> prepared by Tarek A. Atwan
 
> 4/18/2021

# Python Data Types 
### Primitive Data Types
* String (str)
* Integer (int)
* Float (float)
* Boolean (bool)

In [ ]:
name = "Jack Smith"
age = 18
funds = 12.50
student = True

print(type(name))
print(type(age))
print(type(funds))
print(type(student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

# Printing using `f-string` for formatting

In [ ]:
print(f"Welcome our new student {name}")

Welcome our new student Jack Smith

In [ ]:
# using f-string with triple quotes for multi-line
print(f"""
Name: {name}
Age: {age}
funds > $100: {funds > 100}
student: {student}
""")

Name: Jack Smith
Age: 18
funds > $100: False
student: True

## Printing with additional formatting

In [ ]:
past_price = 120.56
current_price = 132.20
price_change = current_price - past_price

# No formatting to the float variable
print(f'The price went up by {price_change}')

# example formatting the float variable, 2 decimal
print(f'The price went up by {price_change:.2f}')

# example formatting the float variable, 3 decimal 
print(f'The price went up by {price_change:.3f}')

# or we can just use round()
print(f'The price went up by {round(price_change, 2)}')

The price went up by 11.639999999999986
The price went up by 11.64
The price went up by 11.640
The price went up by 11.64

# Python Data Structures (Collection)
* Lists
* Dictionary

## Lists
* A list is a Python data structure that allows multiple values to be stored inside of it.
* List values can be retrieved, appended, removed, and iterated upon.

Lists is a data structure with the following characteristics:
* It is a collection of elements
* It is ordered
* It is heterogenous (can hold different data types)
* It has a zero-based index

In [ ]:
# homogenous list examples
names = ["James", "Sara", "Samantha", "Ali", "Mike", "Greg"]
grades = [75, 100, 98, 89, 92, 64]

# heterogenous list example
vehicle = ['Toyota', 2020, 'blue', True, False, 17500, 32.2]

print(names)
print(grades)
print(vehicle)

['James', 'Sara', 'Samantha', 'Ali', 'Mike', 'Greg']
[75, 100, 98, 89, 92, 64]
['Toyota', 2020, 'blue', True, False, 17500, 32.2]

In [ ]:
print(f'number of grades entered: {len(grades)}')
print(f'sum of grades: {sum(grades)}')
print(f'min of grades: {min(grades)}')
print(f'max of grades: {max(grades)}')
print(f'avg of grades: {sum(grades)/len(grades):.2f}')

number of grades entered: 6
sum of grades: 518
min of grades: 64
max of grades: 100
avg of grades: 86.33

In [ ]:
# slicing
print(names[0]) # specific index 
print(names[-1]) # last item
print(names[2:4]) # a range from 2 to 4 where 4 is not included

James
Greg
['Brent', 'Samantha']

### List Operations example

In [ ]:
# appending to a list
print('--------------------APPEND---------------')
print(names)
print('adding a new entry')

names.append('Justin')

print(names)
print('--------------------------------------------')
print('--------------------POP---------------')
print(names)
print('removing last entry')

name_removed = names.pop()

print(names)
print(f'names removed is {name_removed}')
print('--------------------------------------------')
print('--------------------INSERT---------------')
print(names)
print('inserting a new name after Sara')

name_removed = names.insert(2, 'Brent')

print(names)
print('--------------------------------------------')

--------------------APPEND---------------
['James', 'Sara', 'Samantha', 'Ali', 'Mike', 'Greg']
adding a new entry
['James', 'Sara', 'Samantha', 'Ali', 'Mike', 'Greg', 'Justin']
--------------------------------------------
--------------------POP---------------
['James', 'Sara', 'Samantha', 'Ali', 'Mike', 'Greg', 'Justin']
removing last entry
['James', 'Sara', 'Samantha', 'Ali', 'Mike', 'Greg']
names removed is Justin
--------------------------------------------
--------------------INSERT---------------
['James', 'Sara', 'Samantha', 'Ali', 'Mike', 'Greg']
inserting a new name after Sara
['James', 'Sara', 'Brent', 'Samantha', 'Ali', 'Mike', 'Greg']
--------------------------------------------

## Dictionary
* Dicts are mutable (changeable), unordered data structures with the following key characteristics:

Dicts is a data structrue with the following characteristics:
* A collection of key-value pairs
* Unordered
* Heterogeneous (can contain different data types)

In [ ]:
vehicle_dict = {
    "maker": "Toyota",
    "model": "Corolla",
    "year": 2020,
    "color": "blue",
    "gps": True,
    "hybrid": False,
    "MSRP": 17500,
    "MPG": 32.2
}

print(vehicle_dict)

{'maker': 'Toyota', 'model': 'Corolla', 'year': 2020, 'color': 'blue', 'gps': True, 'hybrid': False, 'MSRP': 17500, 'MPG': 32.2}

In [ ]:
# slicing

print(vehicle_dict['maker'])

Honda

In [ ]:
# getting specific values based on keys

info = ['year', 'color']
for i in vehicle_dict.keys():
  if i in info:
    print(vehicle_dict[i])

2020
blue

In [ ]:
# getting specific values based on keys
# another way

info = ['year', 'color']
for i in vehicle_dict.keys():
  if i in info:
    print(vehicle_dict.get(i))

2020
blue

### Dict Operations Example

In [ ]:
print(vehicle_dict.keys())
print(vehicle_dict.values())
print(vehicle_dict.items())

print('--------------------Adding---------------')
print(vehicle_dict)
print('adding a new key value pair')

vehicle_dict['dealership'] = 'some local place'

print(vehicle_dict)
print('--------------------------------------------')
print('--------------------Updating---------------')
print(vehicle_dict)
print('updating values')

vehicle_dict['maker'] = 'Honda'
vehicle_dict['model'] = 'Civic'

print(vehicle_dict)
print('--------------------------------------------')

dict_keys(['maker', 'model', 'year', 'color', 'gps', 'hybrid', 'MSRP', 'MPG'])
dict_values(['Toyota', 'Corolla', 2020, 'blue', True, False, 17500, 32.2])
dict_items([('maker', 'Toyota'), ('model', 'Corolla'), ('year', 2020), ('color', 'blue'), ('gps', True), ('hybrid', False), ('MSRP', 17500), ('MPG', 32.2)])
--------------------Adding---------------
{'maker': 'Toyota', 'model': 'Corolla', 'year': 2020, 'color': 'blue', 'gps': True, 'hybrid': False, 'MSRP': 17500, 'MPG': 32.2}
adding a new key value pair
{'maker': 'Toyota', 'model': 'Corolla', 'year': 2020, 'color': 'blue', 'gps': True, 'hybrid': False, 'MSRP': 17500, 'MPG': 32.2, 'dealership': 'some local place'}
--------------------------------------------
--------------------Updating---------------
{'maker': 'Toyota', 'model': 'Corolla', 'year': 2020, 'color': 'blue', 'gps': True, 'hybrid': False, 'MSRP': 17500, 'MPG': 32.2, 'dealership': 'some local place'}
updating values
{'maker': 'Honda', 'model': 'Civic', 'year': 2020, 'color': 'blue', 'gps': True, 'hybrid': False, 'MSRP': 17500, 'MPG': 32.2, 'dealership': 'some local place'}
--------------------------------------------

# Python Loops

In [ ]:
for i in range(10):
  print(i, i*2)

0 0
1 2
2 4
3 6
4 8
5 10
6 12
7 14
8 16
9 18

In [ ]:
# looping through a list
for name in names:
  print(f'Welcome {name}')

Welcome James
Welcome Sara
Welcome Samantha
Welcome Ali
Welcome Mike
Welcome Greg

In [ ]:
# Looping through a dictionary

for key, value in vehicle_dict.items():
  print(f'{key}: {value}')

maker: Toyota
mode: Corolla
year: 2020
color: blue
gps: True
hybrid: False
MSRP: 17500
MPG: 32.2

In [ ]:
# with string formatting using title() and with alignment example 
for key, value in vehicle_dict.items():
  print(f'{key.title():<8}: {value:<6}')

Maker   : Toyota
Mode    : Corolla
Year    : 2020
Color   : blue
Gps     : 1
Hybrid  : 0
Msrp    : 17500
Mpg     : 32.2

# Nested Lists and Dicts
* List of Lists
* List of Dicts
* Dictionary of lists
* Dictionary of dicts

## List of Lists

In [ ]:
ceo_nested_list = [
    ["Warren Buffet", 88, "CEO of Berkshire Hathaway"],
    ["Jeff Bezos", 55, "CEO of Amazon"],
    ["Harry Markowitz", 91, "Professor of Finance"]
]

print(f'number of objects inside the list {len(ceo_nested_list)}')
print(f'type of nested objects {type(ceo_nested_list[0])}')

number of objects inside the list 3
type of nested objects <class 'list'>

In [ ]:
# slicing and navigating 
ceo_nested_list[0]

['Warren Buffet', 88, 'CEO of Berkshire Hathaway']

In [ ]:
ceo_nested_list[0][1]

88

In [ ]:
# calculate the average age 
total = 0
number_of_ceos = len(ceo_nested_list)

for ceo in ceo_nested_list:
  total += ceo[1]

print(total/number_of_ceos)

78.0

## List of Dicts

In [ ]:
ceo_nested_dict = [
    {
        "name": "Warren Buffet",
        "age": 88,
        "occupation": "CEO of Berkshire Hathaway"
    },
    {
        "name": "Jeff Bezos",
        "age": 55,
        "occupation": "CEO of Amazon"
    },
    {
        "name": "Harry Markowitz",
        "age": 91,
        "occupation": "Professor of Finance"
    }
]


print(f'number of objects inside the list {len(ceo_nested_dict)}')
print(f'type of nested objects {type(ceo_nested_dict[0])}')

number of objects inside the list 3
type of nested objects <class 'dict'>

In [ ]:
ceo_nested_dict[0]["name"]

'Warren Buffet'

In [ ]:
ceo_nested_dict[0]["age"]

88

In [ ]:
# calculate the average age

total = 0
number_of_ceos = len(ceo_nested_dict)

for ceo in ceo_nested_dict:
  total += ceo["age"]

print(total/number_of_ceos)

78.0

## Dictionary of Lists

In [ ]:
stocks_nested_list = {
    "APPL": ["Apple", 101.32, "NASDAQ", 937.7],
    "MU": ["Micron Technology", 32.12, "NASDAQ", 48.03],
    "AMD": ["Advanced Micro Devices", 23.12, "NASDAQ", 29.94],
    "TWTR": ["Twitter", 34.40, "NASDAQ", 26.42]
}

print(f'number of objects inside the list {len(stocks_nested_list)}')
print(f'type of objects {type(stocks_nested_list)}')
print(f'type of nested objects {type(stocks_nested_list["APPL"])}')

number of objects inside the list 4
type of objects <class 'dict'>
type of nested objects <class 'list'>

In [ ]:
# get the stock price of APPL
stocks_nested_list["APPL"][1]

101.32

In [ ]:
# Calculate total investment for buying 10 shares of each at captured price
total = 0
for price in stocks_nested_list.values():
  total += price[1]*10

print(f'total investment: {total}')

total investment: 1909.6

In [ ]:
# print ticker and current price

for ticker, price in stocks_nested_list.items():
  print(f'{ticker} : {price[1]}')

APPL : 101.32
MU : 32.12
AMD : 23.12
TWTR : 34.4

In [ ]:
# print ticker and current price with alignment

for ticker, price in stocks_nested_list.items():
  print(f'{ticker:<4} : {price[1]}')

APPL : 101.32
MU   : 32.12
AMD  : 23.12
TWTR : 34.4

## Dictionary of Dicts

In [ ]:
stocks_nested_dict = {
    "APPL": {
        "name": "Apple",
        "exchange": "NASDAQ",
        "market_cap": 937.7
    },
    "MU": {
        "name": "Micron Technology",
        "exchange": "NASDAQ",
        "market_cap": 48.03
    },
    "AMD": {
        "name": "Advanced Micro Devices",
        "exchange": "NASDAQ",
        "market_cap": 29.94
    },
    "TWTR": {
        "name": "Twitter",
        "exchange": "NASDAQ",
        "market_cap": 26.42
    }
}

print(f'number of objects inside the list {len(stocks_nested_dict)}')
print(f'type of objects {type(stocks_nested_dict)}')
print(f'type of nested objects {type(stocks_nested_dict["APPL"])}')

number of objects inside the list 4
type of objects <class 'dict'>
type of nested objects <class 'dict'>

In [ ]:
# capture TWTR market cap
stocks_nested_dict['TWTR']['market_cap']

26.42

In [ ]:
# calculate total market cap for all 4
total = 0
for m in stocks_nested_dict.values():
  total += m["market_cap"]

print(f'cumulative market cap total {total}')

cumulative market cap total 1042.0900000000001

In [ ]:
# calculate total market cap for all 4 with formatting
total = 0
for m in stocks_nested_dict.values():
  total += m["market_cap"]

print(f'cumulative market cap total {total:.2f}')

cumulative market cap total 1042.09

# Functions

In [ ]:
# Basic function that take no arguments
def greeting():
  print("Welcome to the channel!")

In [ ]:
# calling the function
greeting()

Welcome to the channel!

## Functions and Arguments

In [ ]:
def calculate_tip(amount, percent):
  tip = amount * percent/100
  return tip

In [ ]:
total_bill = 120
tip_percent = 15

calculate_tip(total_bill, tip_percent)

18.0

In [ ]:
# remember these are positional arguments if we switched the order we get a differnet results
total_bill = 120
tip_percent = 15

calculate_tip(tip_percent, total_bill)

18.0

In [ ]:
# But if we do, then we can reference the name of the argument 
total_bill = 120
tip_percent = 15

calculate_tip(percent=tip_percent, amount=total_bill)

18.0

In [ ]:
# we can also specify default values
def calculate_tip(amount, rating=5):
  if rating == 5:
    percent = 20
  elif rating == 4:
    percent = 18
  elif rating == 3:
    percent = 15
  elif rating == 2:
    percent = 10
  else:
    percent = 8

  tip = amount * percent/100

  return tip

In [ ]:
total_bill = 120
rating = 4

calculate_tip(total_bill)

24.0

In [ ]:
calculate_tip(total_bill, rating)

21.6

In [ ]:
calculate_tip(87, 2)

8.7

### How to read a formula and convert it into a python function 

**Compound Annual Growth Rate (CAGR)**
$$\Large CAGR = (\frac{EB}{BB})^{\frac{1}{n}}-1$$

where
* EB = Ending Balance
* BB = Beginning Balance
* $n$ = number of years

In [ ]:
# write a function based on the formula above and use it
def calculate_compound_growth_rate(eb, bb, n):
  cagr = (eb/bb)**(1/n) -1
  return cagr

In [ ]:
beginning_balance = 47000.00
ending_balance = 48930.00
years = 1.0

year_one_growth = calculate_compound_growth_rate(ending_balance, beginning_balance, years)
print(year_one_growth)

0.04106382978723411

# Importing Modules

* Sometimes we face certain limitations using native Python and may require the assistance of another module to enhance functionlity and add new features. As opposed to writing everything on our own from scratch, we can leverage true-and-tested libraries and modules that do exactly whar we want.

In [ ]:
# Example of limitations of lists

amount_spent_trip1 = [12, 23, 45, 89, 100]
amount_spent_trip2 = [90, 10, 34, 11, 104]
amount_spent_trip3 = [12, 2, 5, 8, 5]

In [ ]:
# lets add all these lists into one
amount_spent_trip1 + amount_spent_trip2 + amount_spent_trip3

[12, 23, 45, 89, 100, 90, 10, 34, 11, 104, 12, 2, 5, 8, 5]

In [ ]:
# get the grand total spent
sum(amount_spent_trip1 + amount_spent_trip2 + amount_spent_trip3)

550

So far so good

In [ ]:
# let's say I want to convert into a new currency where $1 = 3 XYZ

In [ ]:
# notice multiplying just repeats the list, does not apply the scalar value to every element
amount_spent_trip1 * 3

[12, 23, 45, 89, 100, 12, 23, 45, 89, 100, 12, 23, 45, 89, 100]

In [ ]:
# one option is looping
new_list = []
for x in amount_spent_trip1:
  new_list.append(x*3)
print(new_list)

[36, 69, 135, 267, 300]

**Numpy** to the rescue

In [ ]:
import numpy as np

np.array(amount_spent_trip1)* 3

array([ 36,  69, 135, 267, 300])

# Advanced Looping 
* using enumerate 
* using zip

There are different ways to get an index while looping, including the use of `enumerate`

In [ ]:
students = ["James", "Sara", "Samantha", "Ali", "Mike", "Greg"]

for name in students:
  print(name)

James
Sara
Samantha
Ali
Mike
Greg

In [ ]:
for i in range(len(students)):
  print(i, students[i])

0 James
1 Sara
2 Samantha
3 Ali
4 Mike
5 Greg

In [ ]:
# a more intuitive option
for idx, name in enumerate(students):
  print(idx, name)

0 James
1 Sara
2 Samantha
3 Ali
4 Mike
5 Greg

### zip
This is a great feature if I have 2 or more lists where I want to match the first item from the first list, with the first item in the second list ..etc. see example below

In [ ]:
# here we assume the order (index) of names and grades match meaning James has a grade of 75
students = ["James", "Sara", "Samantha", "Ali", "Mike", "Greg"]
grades = [75, 100, 98, 89, 92, 64]

In [ ]:
for student, grade in zip(students, grades):
  print(f'{student}: {grade}')

James: 75
Sara: 100
Samantha: 98
Ali: 89
Mike: 92
Greg: 64

In [ ]:
students = ["James", "Sara", "Samantha", "Ali", "Mike", "Greg"]
math = [75, 100, 98, 89, 92, 64]
chemistry = [66, 92, 88, 89, 77]

for s, m, c in zip(students, math, chemistry):
  average_grade = (m+c)/2
  print(f'{s} average score is {average_grade}')

James average score is 70.5
Sara average score is 96.0
Samantha average score is 93.0
Ali average score is 89.0
Mike average score is 84.5